.section-add-official-business{
    font-family: $font-title;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #011842;

    ::-webkit-scrollbar{
        width: 20px;
    }
    ::-webkit-scrollbar-track{
        background: $accent;
        border-left: 9px solid white;
        border-right: 9px solid white;
        
    }
    ::-webkit-scrollbar-thumb{
        background: $secondary;
        border-left: 7px solid white;
        border-right: 7px solid white;
        
    }


    .breadcrumbs{
        margin: 0;
        color: #011842;
        font-size: 18px;
    }
    
    .card{
        font-weight: bold;
        width: 100%;
        margin-top: 40px;
        box-shadow: 0px 4px 30px rgba(2, 100, 136, 0.2);
        border-radius: 16px;
        border: none;

        .officialBusinessLeft{
            padding-right: 0;
        

            .obListTitle{
                margin-top: 9px;
                font-weight: normal;
            }

            .employeeList{
                border-radius: 13px 0 0 0;
                height: 67px;
                padding: 13px 32px;
                border-bottom: none;

                input{
                    font-size: 14px;
                    color: #011842;
                    border-radius: 15px;
                    padding: 8px 16px;
                }
                input:placeholder-shown {
                    font-style: italic;
                }
                ::placeholder {
                    padding: 0px;
                    font-family: $font-content; 
                    color: #908B8B;
                }
                
                
                .obSearchClass {
                    padding: 0px;
                    margin: 0px;
                    margin-top: 4px;
                    width: 343px;
                    height: 31px;
                    border: 1px solid #011842;
                    box-sizing: border-box;
                    border-radius: 24px;
                    padding: 0 16px;
                    font-family: $font-content;
                }
                
            }

            .employeeListBody{
                padding: 40px 32px;
                height: 60vh;

                .tableFormFixHead{
                    height: 55vh;
                    overflow: auto;
                    margin-top: 0;
                    background-color: white;
                  
                }
                th{
                    .w-10{width: 10%;}
                    .w-30{width: 30%;}
               

                    border-top: none;
                    border-bottom: none;
                    padding: 0 8px 16px;
                    color: #011842;
                    vertical-align: middle;
                    font-weight: normal;
                    
                    position: sticky;
                    text-align: left;
                    top: 0;
                    z-index: 1;
                    background-color: $primary;
                    
                    }

                td{
                    border-top: 1px solid #011842;
                    border-bottom: 1px solid #011842;
                    color: #011842;
                    padding: 16px 8px;
                    font-family: $font-content;
                    font-weight: normal;
                    vertical-align: middle;
                    
                }

                i{
                    background-color: $accent;
                    color: $primary;
                    font-size: 20px;
                    padding: 6px;
                    border-radius: 4px;
        
                    &:hover{
                        background-color: $secondary;
                    }
                }
        
                .btn{
                    padding: 0;
                }
        
            }
        }

        .officialBusinessRight{
            padding-left: 0;

            .oBForm{
                
                border-radius:  0 13px 0 0;
                height: 67px;
                padding: 13px 32px;
                border-bottom: none;
                background-color: #cdf1fe;

                .oBFormTitle{
                    margin-top: 9px;
                    font-weight: normal;

                }

            }

            .oBFormBody{
                background-color: #effafe;
                padding: 40px 32px;
                height: 65vh;


                .form-group{
                    margin: 0;
                    padding: 0;
                    margin-bottom: 32px;
                    font-family:$font-content;

                    label{
                        margin-bottom: 8px;
                        font-family: $font-content;
                        font-size: 14px;
                        font-weight: normal;
                    }

                    .form-control{
                        height: 30px;
                        border-radius: 20px;
                        height: 30px;
                        background-color: #effafe;
                        border: 1px solid #c9c9c9;
                        color: #011842;

                        input{
                            font-size: 14px;
                            color: #011842;
                            border-radius: 15px;
                            padding: 8px 16px;
                        }
                        input:placeholder-shown {
                            font-style: italic;
                        }
                        ::placeholder {
                            padding: 0px;
                            font-family: $font-content; 
                            color: #908B8B;
                        }

                    }

                }

                input[type=file]::file-selector-button {
                    border: 1px dashed $accent;
                    padding: 8px 20px;
                    border-radius: 15px;
                    background-color: #CDF1FE;
                    color: $accent;
                    cursor: pointer;
                }
                input[type=file]::file-selector-button:hover {
                    border: 1px dashed $primary;
                    background-color:$secondary;
                    color: $primary;
                }
            }

           label{
               font-size: 14px;
               font-family: $font-content;
               font-weight: normal;
           }

           textarea{
               height: 120px;
               background-color: #effafe;
               border-radius: 15px;
               border: 1px solid #c9c9c9;
               margin-bottom: 35px;
               font-family: $font-content;
               color: #011842;
           }

            .obSubmit{
               margin-top: 18px;
                float:right;
                font-family: $font-title;
                background: $accent;
                color: $primary;
                padding: 18px 32px;
                border-radius: 15px;
                font-weight: 400;
                font-size: 16px;
                text-align: center;            
        

                &:hover{
                    background-color: $secondary;
                    
                }
            }
            
        }



    }
  

    
    
}