.section-expiredlicenses-list {
    .red {
        color: $red;
    }

    .green {
        color: $green;
    }

    .card {
        width: 100%;

        &:last-child {
            margin-bottom: 5%;
        }
        

        .inputSearch {
            position: absolute;
            top: 10px;
            right: 30px;
            width: 345px;
        }

        .fixHeight {
            width: 100%;
            margin-top: 0;
            padding: 30px;
            height: 50vh;

            table {
                td {
                    line-height: 35px;
                }

                td.pending {
                    color: #F1750E;
                }

                td:last-child a {
                    color: #FFFFFF;
                    background: #F1750E;
                    padding: 7px;
                    border-radius: 5px;
                }

            }

        }

    }
}